@model IEnumerable<FrontEnd.Models.OwnerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fornavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.efternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fuldenavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.by)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.efternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fuldenavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.by)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
