@model IEnumerable<FrontEnd.Models.TreatmentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.treatmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.treatmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.treatmentId  }) |
                @* @Html.ActionLink("Details", "Details", new {  id=item.treatmentId  }) | *@
                @Html.ActionLink("Delete", "Delete", new {  id=item.treatmentId  })
            </td>
        </tr>
}
    </tbody>
</table>
